@import "./node_modules/bootstrap/scss/bootstrap.scss";


$color-principal: #5265E1;
$color-secundario: #FA5959;

.navbar-brand img {
    max-width: 100%;
    height: auto;
}
nav{
    margin-left: 40px;
}
.t1{
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
}
label #btn,
label #cancel{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
.f1{
    margin-left: 50px;
    color: rgb(154, 154, 154);
    font-weight: bold;
}
.button1{
    margin-right: 70px;
    width: 120px;
    height: 50px;
    background: $color-secundario;
    color: white;
    border-radius: 7px;
    border: $color-secundario;
    }
.button1:hover{
    background: #b63737;
    color: white;
}
.button2{
    margin-left: 50px;
    margin-right: 15px;
    width: 170px;
    height: 50px;
    background: $color-principal;
    color: white;
    border-radius: 7px;
    border: $color-principal;
}
.button2:hover{
    background: #7f8de9;
}
.button3:hover{
    background: #c2c2c2;
}
.button3{
    width: 170px;
    height: 50px;
    background: whitesmoke;
    color: black;
    border-radius: 7px;
    border:whitesmoke;
}
.image1{
    margin-top: 50px;
    margin-left: 70px;
}
.features{
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .navbar-brand {
        text-align: center;
    }
    .navbar-nav {
        text-align: center;
    }
    .nav-link {
        margin: 0 10px;
    }
    .button1 {
        margin-right: 0;
    }
    .button2, .button3 {
        margin-left: 0;
        margin-top: 10px;
    }
    .image1 {
        margin-top: 20px;
        margin-left: 0;
    }
    .t1, .f1 {
        margin-left: 0;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .row{
        flex-direction: column;
        width: 100%;
    }
    .t1, .f1 {
        margin-left: 0;
        text-align: center;
    }
    .button1 {
        margin-right: 0;
    }
    .button2, .button3 {
        margin-left: 0;
        margin-top: 10px;
    }
    .image1 {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
}




